{% extends 'base.html' %} {%block content%}

<html>
    <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <title>HOME</title>
        {% endblock %}
    </head>

    <body>
        <div class="commnunityHeaderWrapper"></div>
        <div class="commnuityBarWrapper">
            <marquee width="100%" scrollamount="5">
                <span class="marqueeSpan"
                    >검색하지 마세요. 당신에게 맞는 향수를 찾아드립니다.</span
                >
            </marquee>
        </div>
        <div class="contentsWrapper">
            <a href="{%url 'detail1' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1474692321929-4d0c27302b7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span> 오랜 시간 향이 지속되는 향수 </span>
                </div>
            </a>

            <a href="{%url 'detail2' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span>면접 볼 때 어울리는 향수</span>
                </div>
            </a>

            <a href="{%url 'detail3' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1548460464-633509d5073d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span> 물기를 머금은 장미가 연상되는 향수 </span>
                </div>
            </a>

            <a href="{%url 'detail4' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1550399504-8953e1a6ac87?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2974&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span> 청량함을 담아 휴가철에 어울리는 향수</span>
                </div>
            </a>

            <a href="{%url 'detail5' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1529175283207-194a414b9ffa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span>소개팅에 어울리는 은은한 향수</span>
                </div>
            </a>

            <a href="{%url 'detail6' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1609008660958-dd5b8dcb3d56?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span>적당한 지속력과 향을 갖춘 노멀한 향수</span>
                </div>
            </a>

            <a href="{%url 'detail7' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1515339760107-1952b7a08454?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span>소프트한 향을 가진 가벼운 향수</span>
                </div>
            </a>

            <a href="{%url 'detail8' %}">
                <div class="postWrapper">
                    <div class="postImg">
                        <img
                            src="https://images.unsplash.com/photo-1603664454146-50b9bb1e7afa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                            alt=""
                        />
                    </div>
                </div>
                <div class="theme_text">
                    <span>오렌지빛 꽃물처럼 상큼한 향수</span>
                    <!--  -->
                </div>
            </a>
        </div>
    </body>
    {% endblock%}
</html>
